<%- include('../shared/header.ejs'); %>
</head>

<body>
  <%- include('../shared/navbar.ejs'); %>
  <!-- Page Content -->
  <div class="container">
    <h1>Edit Product Page</h1>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery.slim.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
