<%- include('../shared/header.ejs'); %>
  </head>

  <body>
    <%- include('../shared/navbar.ejs'); %>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Product list </h1>
        </div>
      </div>
    </div>
    
  
  
    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery.slim.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
