<%- include('shared/header.ejs'); %>
</head>
<body>
  <%- include('shared/navbar.ejs'); %>
  <div class="container mt-5" style="text-align: center;">
    <h1>Page Not Found.</h1>
  </div>
</body>
</html>
