  <%- include('shared/header.ejs'); %>
  </head>
  <body>
    <%- include('shared/navbar.ejs'); %>
    <div class="container" style="margin:2%;">
      <h1>Login Failed.</h1>
    <p>
      If you are not registered user then please register yourself before login
    </p>
    <p>
      If you are a registered user then please check your username and password.
    </p>
    </div>
  </body>
</html>
